<div class="row">
  <div class="span6 offset3">
    <form class="" action="/result" method="get">
      <p>Title: </p>
      <input type="text" name="title">
      <br><br>
      <p>Author: </p>
      <input type="text" name="author">
      <!-- Subject: <input type="text" name="" value=""> -->
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
