<form class="" action="/result" method="get">
  <p>Search for your book</p>
   Title*: <input type="text" name="title">
   <br><br>
   Author: <input type="text" name="author">
   <!-- Subject: <input type="text" name="" value=""> -->
   <br><br>
   <input type="submit" value="Submit">
</form>
