<div class="row">
  <div class="span6 offset3">
    <h1>Share an online link your found for free!</h1>
    <form class="" action="add_free_book" method="get" id="freebookform">
      <p>Title:</p>
      <input type="text" name="title">
      <br>
      <p>Author:</p>
      <input type="text" name="author">
      <br>
      <p>subject:</p>
      <input type="text" name="subject">
      <br>
      <p>pdf links:</p>
      <textarea rows="4" cols="50" name="pdfLink" form="freebookform" placeholder="Insert one link per line"></textarea>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
